%h2 Edit profile
%span This is the information that will show up when people visit the page on your cards
=semantic_form_for resource, :url => account_profile_edit_path do |f|
  =f.inputs do
    =f.input :first_name
    =f.input :last_name
    =f.input :password
    =f.input :phone_number, :type => :phone_number
    =f.input :show_email, :as => :boolean
  =f.buttons do
    =f.commit_button "Save"
    =link_to "Back", :back

