-content_for :title do
  Edit Profile
%h1 Edit Profile
=semantic_form_for resource, :url => user_registration_path, :method => :put do |f|
  =f.inputs do
    =f.input :email
    =f.input :password, :required => true
    =f.input :first_name
    =f.input :last_name
    =f.input :time_zone
    =f.input :gender, :as => :radio, :collection => { "Male" => 'm', "Female" => 'f' }
    %hr
    %h2 The following will be shown to users visiting the messages on your cards
    =f.input :show_email, :label => 'Show my email address to card visitors', :required => true, :hint => "Also allows visitors to reply directly to you on emails sent from conne.cc"
    =f.input :web_site, :hint => 'http://jeffdickey.info/', :label => "Personal web site"
    =f.input :facebook, :hint => 'facebook.com/dickeyj', :label => "Facebook profile"
    =f.input :linkedin, :hint => 'linkedin.com/in/dickeytk', :label => "LinkedIn profile"
    =f.input :twitter, :hint => '@dickeytk', :label => "Twitter username"
    =f.input :phone_number, :hint => '501-555-9173'
  =f.buttons do
    =f.commit_button "Update Profile"
%hr
