-content_for :title do
  Sign up
%h1 Sign up
=semantic_form_for resource, :url => user_registration_path do |f|
  =f.inputs do
    =f.input :first_name
    =f.input :last_name
    =f.input :email
    =f.input :password
    =f.input :gender, :as => :radio, :collection => { "Male" => 'm', "Female" => 'f' }
    =f.input :time_zone
    %hr
    %h2 This will be shown to people visiting your cards
    =f.input :show_email, :label => 'Show my email address to card visitors', :required => true, :hint => "Also sets the 'reply-to' to visitor's notifications."
    =f.input :web_site, :hint => 'http://jeffdickey.info/', :label => "Personal web site"
    =f.input :facebook, :hint => 'facebook.com/dickeyj', :label => "Facebook profile"
    =f.input :linkedin, :hint => 'linkedin.com/in/dickeytk', :label => "LinkedIn profile"
    =f.input :twitter, :hint => '@dickeytk', :label => "Twitter username"
    =f.input :phone_number, :hint => '501-555-9173'
  =f.buttons do
    =f.commit_button "Sign up!"
