%h2 Sign up
=semantic_form_for resource, :url => signup_path do |f|
  =f.inputs do
    =f.input :first_name
    =f.input :last_name
    =f.input :email
    =f.input :password
  =f.buttons do
    =f.commit_button "Sign up"
:plain
  <script type="text/javascript" src="https://www.rewardlevel.com/js/rewardlevel-1.0.0.min.js?plugin=898&action=show&style=text"></script>
