-content_for :title do
  Place Order
%h1 Place Order
=semantic_form_for @google_order, :html => { :onsubmit => "setUrchinInputCode(pageTracker);" } do |f|
  =f.inputs do
    %input{ :type => "hidden", :name => "analyticsdata", :value => ""}
    =f.input :first_name
    =f.input :last_name
    =f.input :company_name
    .colorpicker
    =f.input :color, :input_html => { :class => "color" }
  =f.buttons do
    %input{ :type => "image",
            :name => "Google Checkout",
            :alt => "Fast checkout through Google",
            :src => "http://sandbox.google.com/checkout/buttons/checkout.gif?merchant_id=#{ ENV['CONNECC_GOOGLE_MERCHANT_ID'] }&w=180&h=46&style=trans&variant=text&loc=en_US",
            :height => "46",
            :width => "180"}
