%p In order for us to ship your cards, we need a bit more information from you.
%p Go to the following link to set up your account.
%p= link_to order_activate_url(@order.activation_string), order_activate_url(@order.activation_string)
