#message
  %h1 Post a message
  -semantic_form_for @card, :html => { :method => :put, :class => 'centered' }, :url => card_path(@card.code) do |f|
    =f.inputs do
      =f.input :message, :required => true, :label => false
    =f.buttons do
      =f.commit_button "Post message"
