#about_us .intro {
    margin:30px auto;
    text-align:center;
    width:475px;
}

#about_us .member .box {
    width:190px;
    overflow:hidden;
    margin: 0px auto;
    float:left;
}

#about_us blockquote {
    font-size:14px;
    text-indent:20px;
    margin:40px 20px;
    clear:both;
}

#about_us .member img {
    float:left;
    border-radius:10px;
    margin-right:20px;
}

#about_us .member .role {
    margin-top:10px;
    font-family:"Droid Serif";
    font-size:16px;
}

#about_us .member > p {
    width:280px;
    margin:10px 10px 50px 10px;
    float:right;
    font-size:16px;
}

#about_us .member h3 {
    margin-top:5px;
    font-size:24px;
}

#about_us .desc {
    margin:30px 40px;
    font-size:15px;
    font-family:'Droid Serif';
}

#about_us .member {
    margin:50px;
}

#about_us .member > p {
    font-family:'Cabin';
}
