#about_us .member .box {
    width:190px;
    overflow:hidden;
    margin: 0px auto;
}

#about_us .member img {
    float:left;
    border-radius:10px;
    margin-right: 20px;
}

#about_us .member .role {
    margin-top:10px;
    font-style:italic;
}

#about_us .member p {
    margin:30px 0px;
}

#about_us .member h3 {
    margin-top:5px;
    font-size:24px;
}

#about_us .desc, #about_us .member {
    margin:50px;
}
