#admin {
    font-size:18px;
    font-family:"Helvetica", "Arial", sans-serif;
}

#admin a, #admin a:visited {
    text-decoration:none;
    color: #4271FF;
    font-weight:bold;
    display:inline-block;
}

#admin a:hover {
    border-bottom:1px solid;
    margin-bottom:-1px; /* hacky hack */
}

#admin #admin-menu a, #admin-menu a:visited {
    color:#000;
    font-weight:normal;
    border:1px solid #666;
    margin:10px 20px;
    float:left;
    text-align:center;
    width:170px;
}

#admin #admin-menu a:hover {
    color:#fff;
}

#admin #admin-menu {
    width:800px;
    margin:20px auto;
}

#admin #admin-menu li {
    display:inline-block;
}

#admin #breadcrumb {
    margin:20px 50px;
    text-shadow:0 1px 0 #e5e5e5;
}

#admin #breadcrumb a {
    font-weight:normal;
}

#admin h1 {
    font-size:28px;
    text-align:center;
    margin:30px auto;
    width:500px;
    color:#000;
    text-shadow:0 1px 0 #fff;
}

#admin #actions {
    margin:40px auto;
    text-align:center;
}

#admin .details {
    margin:50px;
    border:1px solid #4271FF;
}

#admin .details label, .details span {
    margin:10px 10px;
    display:inline-block;
    cursor:default;
}

#admin .details label {
    font-weight:bold;
    width:200px;
}

#admin .details label:after {
    content: ':';
}

#admin .lists {
    overflow:hidden;
}

#admin .lists .list {
    margin:30px 50px 50px 50px;
    float:left;
    width:250px;
}

#admin .list h2 {
    font-size:24px;
    margin:5px;
    text-align:center;
    color:#000;
    text-shadow:0 1px 0 #e5e5e5;
}

#admin .list ul {
    margin:0;
    border:1px solid #4271FF;
}

#admin .list li {
    padding:10px 25px;
}

#admin .details p:nth-child(odd),
#admin .list ul li:nth-child(odd) {
    background-color:#ddeeff;
}

#admin .details p:nth-child(even),
#admin .list ul li:nth-child(even) {
    background-color:#eff2ff;
}

#admin #summary {
    text-align:center;
    font-size:24px;
    margin:20px;
    text-shadow:0 1px 0 #e5e5e5;
}
