#admin {
    font-size:18px;
    font-family:"Helvetica", "Arial", sans-serif;
}

#admin a, #admin a:visited {
    text-decoration:none;
    color: #4271FF;
    font-weight:bold;
}

#admin a:hover {
    border-bottom:1px solid;
}

#admin-menu a, #admin-menu a:visited {
    color:#000;
    font-weight:normal;
    border:1px solid #666;
}

#admin-menu a:hover {
    color:#fff;
    border:1px solid #333;
}

#admin-menu {
    width:800px;
    text-align:center;
    margin:40px auto;
}

#admin-menu li {
    display:inline-block;
}

#breadcrumb {
    margin:20px 50px;
}

#admin h1 {
    font-size:28px;
    text-align:center;
    margin:10px auto;
    width:500px;
    color:#000;
}

#actions {
    margin:40px auto;
    text-align:center;
}

.details {
    margin:10px 50px;
    border:1px solid #4271FF;
}

.details label, .details span {
    margin:10px 10px;
    display:inline-block;
}

.details label {
    font-weight:bold;
    width:200px;
}

.details label:after {
    content: ':';
}

.details p:nth-child(odd) {
    background-color:#eff2ff;
}

.details p:nth-child(even) {
    background-color:#e8edff;
}

.lists {
    overflow:hidden;
}

.lists .list {
    margin:50px;
    float:left;
    width:250px;
}

.list h2 {
    font-size:24px;
    margin:5px;
    text-align:center;
    color:#000;
}

.list ul {
    margin:0;
    border:1px solid #4271FF;
}

.list li {
    padding:10px 25px;
}

.list ul li:nth-child(odd) {
    background-color:#eff2ff;
}

.list ul li:nth-child(even) {
    background-color:#e8edff;
}

