#card-container {
    margin: 20px auto;
    width:550px;
    height:310px;
    position:relative;
}

#card-container .card {
    font-size:18px;
    border:1px solid black;
    background-color:white;
    cursor:default;
    background:white url('/images/noise.gif');
    width:550px;
    height:310px;
    position:absolute;
    top:0px;
    left:0px;
    cursor:pointer;
}

#card-container .card .top-half {
    height:150px;
    border-bottom:1px dashed #333;
    position:relative;
    height:150px;
}

#card-container .card span {
    display:block;
    margin-left:20px;
    margin-top:5px;
    margin-bottom:5px;
}
#card-container .card .connecc {
    color:blue;
}
#card-container .card .arrow {
    font-weight:bold;
    font-size:170px;
    right:15px;
    top:-60px;
    color:#1D4088;
    position:absolute;
}
#card-container #bottom-card {
    -webkit-transform:rotate(2deg);
    -moz-transform:rotate(2deg);
    z-index:1;
}
#card-container #middle-card {
    -webkit-transform:rotate(1deg);
    -moz-transform:rotate(1deg);
    z-index:2;
}
#card-container #top-card {
    z-index:3;
}
#card-container #half-card {
    margin-left:auto;
    margin-right:auto;
    margin-top:50px;
    margin-bottom:50px;
    position:relative;
    height:150px;
    border-bottom-style:dashed;
    -webkit-transform:rotate(-2deg);
    -moz-transform:rotate(-2deg);
}
