/*  connecc.css */
/******************************************************************/


/*  Element styles */
/**********************************************************/

ul { list-style-type:square; }

h1 {
    font-size:28px;
    text-shadow:0 1px 0 #fff;
    color #333;
    text-align:center;
    margin:30px;
}

h2 {
    font-size:24px;
    margin:20px;
    text-align:center;
    color:#333;
    text-shadow:0 1px 0 #e5e5e5;
}

h3 { font-size:20px; }

table {
    margin:50px auto;
    border:1px solid #4271FF;
}

th, td { padding:10px 20px; }

tr { border-bottom:1px dotted #bbb; }

tr:nth-child(even) { background-color:#eff2ff; }

tr:nth-child(odd) { background-color:#ddeeff; }

blockquote {
    font-family:'Droid Serif';
    text-align:justify;
    margin:20px 100px 50px 20px;
    font-size:18px;
    padding-left:80px;
    background: transparent url(../images/embed/blockquote.png) no-repeat;
    min-height:40px;
}

blockquote p {
    margin-top:20px;
    margin-bottom:20px;
}

dl {
    margin:10px 50px 20px 50px;
    text-shadow: 0 1px 0 #e5e5e5;
    font-family:'Droid Serif';
    font-size:18px;
}

dt {
    float:left;
    width:45%;
    padding-top:12px;
}

dd {
    padding-top:12px;
    overflow:hidden;
    color:#000;
}

dd a, dd a:visited {
    color:#133CAC;
    text-decoration:none;
}

dd a:hover, dd a:focus {
    color:#133CAC;
    border-bottom:1px solid;
}

p {
    font-family:'Droid Serif';
}

/*  Links */
/**********************************************************/
a[href ^="http://linkedin.com"] {
    padding-right:22px !important;
    background: transparent url('/images/embed/linkedin.png') no-repeat center right !important;
}
a[href ^="http://facebook.com"] {
    padding-right:22px;
    background: transparent url('/images/embed/facebook.png') no-repeat center right;
}
a[href ^="http://twitter.com"] {
    padding-right:22px;
    background: transparent url('/images/embed/twitter.png') no-repeat center right;
}
a[href ^="mailto:"] {
    padding-right:22px;
    background: transparent url('/images/embed/email.png') no-repeat center right;
}
a[href $='.doc'], a[href$='.docx'] {
    padding-right:18px;
    background: transparent url('/images/embed/word.gif') no-repeat center right;
}
a[href $='.xls'], a[href$='.xlsx'] {
    padding-right:18px;
    background: transparent url('/images/embed/excel.gif') no-repeat center right;
}
a[href $='.pdf'] {
    padding-right:18px;
    background: transparent url('/images/embed/pdf.gif') no-repeat center right;
}

/*  Core layout */
/**********************************************************/

html {
    background-color:#E6E7E8;
}

html, body {
    background:url("/images/embed/noise.soft.png");
    height:100%;
}

    body {
        background-color: #E6E7E8;
        font-family: 'Cabin', arial, serif;
        line-height:1.3;
    }

    #container {
        background:url('/images/embed/graph.png') no-repeat;
        background-position:top center;
        min-height:100%;
        width:960px;
        margin:0 auto;
    }

        #logo {
            background:url("/images/embed/logo.png") no-repeat;
            display:block;
            position:absolute;
            height:100px;
            width:153px;
            top:40px
        }

        #banner, nooter {
            text-align:center;
        }

        #main {
            margin:0px auto 0 auto;
            padding-top:100px;
            padding-bottom: 240px;
            width:620px;
        }

            #main.wide { width:900px; }


/*  Footer */
/******************************************************/

footer {
    color: #eee;
    background-color:#333;
    border-top:1px solid #888;
    background-image:url("/images/embed/footer.gradient.png");
    background-repeat:repeat-x;
    text-align:center;
    position:relative;
    margin-top:-130px;
    height:129px;
    clear:both;
    text-shadow: 0 1px 0 #000;
    /*font-family:'Raleway';*/
}

#social-icons {
    margin:20px 6px 6px 6px;
}

  #social-icons a {
      margin:4px;
      height:32px;
      width:32px;
      display:inline-block;
  }

  #social-icons .facebook {
      background:url('/images/embed/facebook.large.png') no-repeat;
  }

  #social-icons .twitter {
      background:url('/images/embed/twitter.large.png') no-repeat;
  }

    
#footerLogo {
    display:block;
    position:absolute;
    right:12px;
    top:22px;
    height:80px;
    width:122px;
    background:url('/images/embed/logo.footer.png') no-repeat;
}

#links {
    font-size:18px;
}

.footer-links {
    margin:6px;
}

  .footer-links a, .footer-links a:visited  {
      color:#eee;
      text-decoration:none;
  }

  .footer-links a:hover {
      border-bottom:1px solid;
      color:#eee;
  }

  .footer-links li {
      display:inline-block;
  }

  .footer-links li:after {
      content:' |';
      margin:10px;
  }

  .footer-links li:last-child:after {
      content:'';
  }

/*  Banner and Strip */
/******************************************************/

#banner, #strip, #site-login {
    background-color:#ccc;
    border:1px solid #bbb;
    border-bottom:1px dashed #999;
    border-top:1px dashed #ddd;
    font-size:20px;
    
    background-image:url('/images/embed/grey.radial.png');
    background-repeat:no-repeat;
    background-position:center top;
    
    -webkit-box-shadow: 0px 0px 10px #333333;
    -moz-box-shadow: 0px 0px 10px #333333;
    box-shadow: 0px 0px 10px #333333;
}

#banner {
    width:480px;
    margin:0 auto;
    height:60px;

    z-index:10;
    margin-bottom:-10px;
    padding:12px 0;
    
    font-size:28pt;
    text-shadow:0 1px 0 #e5e5e5;
    position:relative;
}

    #banner #title {
        margin:18px auto;
        font-size:24px;
        color:#1D4088;
        text-shadow:0 1px 0 #fff;
    }

#strip {
    position:relative;
    z-index:5;
}

    #strip hr {
        border-top:1px dashed #888;
        border-bottom:1px dashed #fff;
        height:0;
        width:100%;
    }

    @-moz-document url-prefix() {
        #strip hr {
            border-style:dotted;
        }
    }


/*  Curls */
/**********************************************/

.bannerCurl {
    margin:0 auto;
    width:480px;
    position:relative;
    top:-20px;
    z-index:8;
}

.stripCurl {
    z-index:0;
    width:620px;
    position:relative;
    top:-25px;
}

.wide .stripCurl {
    width:900px;
}

    .leftCurl, .rightCurl {
        -webkit-box-shadow: 0px 6px 30px black;
        -moz-box-shadow: 0px 6px 30px black;
        box-shadow: 0px 6px 30px black;
        width:200px;
        height:15px;
        position:absolute;
        bottom:-40;
    }

    .leftCurl {
        left:10px;
        
        -moz-transform:rotate(-4deg);
        -webkit-transform:rotate(-4deg);
        -o-transform:rotate(-4deg);
        -ms-transform:rotate(-4deg);
        transform:rotate(-4deg);
    }

    .rightCurl {
        right:10px;
        
        -moz-transform:rotate(4deg);
        -webkit-transform:rotate(4deg);
        -o-transform:rotate(4deg);
        -ms-transform:rotate(4deg);
        transform:rotate(4deg);
    }


/*  Rails styles */
/**********************************************************/

#notice, #alert {
    text-align:center;
    border:1px solid #ccc;
    padding:10px 5px;
    font-size:15px;
    margin:24px auto;
    width:400px;
}

#alert {
    border-color:#c99;
    color:#fff;
    background:#c00;
}

#notice {
    border-color:#9c9;
    color:#060;
    background:#e2f9e3;
}

/*  Content structure */
/**********************************************************/

#pitch h2, #tour h2 {
    font-size:20px;
    margin:30px auto;
    text-align:justify;
    width:450px;
}

#tour a { color:#133CAC; }

.red, .red a { color:red; }


/*  Ribbons */
/**********************************************************/

.wrap-tab {
    position:absolute;
    top:32px;
    background-color:#555;
    font-size:16px;
    text-shadow:none;
    color:#fff;
    height:28px;
    -webkit-box-shadow: 0px 1px 1px #333333;
    -moz-box-shadow: 0px 1px 1px #333333;
    box-shadow: 0px 1px 1px #333333;
    text-shadow: 0 1px 0 #222;
    
    background: #0248CD; /* old browsers */
    
    background: -moz-linear-gradient(top, #0248CD 0%, #094699 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0248CD), color-stop(100%,#094699));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0248CD', endColorstr='#094699',GradientType=0 );
    text-decoration:none;
}

    .wrap-tab.left {
        left:-9px;
        -webkit-border-top-left-radius: 2px;
        -moz-border-radius-topleft: 2px;
        border-top-left-radius: 2px;
    }

    .wrap-tab.right {
        right:-9px;
        -webkit-border-top-right-radius: 2px;
        -moz-border-radius-topright: 2px;
        border-top-right-radius: 2px;
    }

        .wrap-tab-body {
            padding:4px;
            text-align:center;
            color:#fff;
            padding:5px 10px;
        }
        
        .wrap-tab-body:after {
            content: " ";
            position: absolute;
            top:3px;
            left:0;
            right:0px;
            bottom:3px;
            
            border:1px dashed #2666BF;
            border-left-width:0;
            border-right-width:0;
        }

        .wrap-tab-left-poly, .wrap-tab-right-poly {
            position:absolute;
            border-style:solid;
            width:0;
            height:0;
        }

        .wrap-tab.left .wrap-tab-left-poly {
            top:28px;
            left:0;
            
            border-top-width:4px;
            border-top-color:#222;
            
            border-bottom-width:4px;
            border-bottom-color:transparent;
            
            border-left-width:4px;
            border-left-color:transparent;
            
            border-right-width:4px;
            border-right-color:#222;
        }

        .wrap-tab.left .wrap-tab-right-poly {
            position:absolute;
            top:0;
            right:-4px;
            
            border-top-width:14px;
            border-top-color:#0248CD;
            
            border-bottom-width:14px;
            border-bottom-color:#094699;
            
            border-left-width:0;
            
            border-right-width:4px;
            border-right-color:transparent;
        }
        
        .wrap-tab.right .wrap-tab-left-poly {
            position:absolute;
            top:0;text-shadow: 0 1px 0 #e5e5e5;
            left:-4px;
            
            border-top-width:14px;
            border-top-color:#0248CD;
            
            border-bottom-width:14px;
            border-bottom-color:#094699;
            
            border-right-width:0;
            
            border-left-width:4px;
            border-left-color:transparent;
        }

        .wrap-tab.right .wrap-tab-right-poly {
            top:28px;
            right:0;
            
            border-top-width:4px;
            border-top-color:#222;
            
            border-bottom-width:4px;
            border-bottom-color:transparent;
            
            border-right-width:4px;
            border-right-color:transparent;
            
            border-left-width:4px;
            border-left-color:#222;
        }
        
/*  Content-Specific Styles */
/**********************************************************/

#order-cards {
    overflow:hidden;
    text-align:center;
    margin:30px;
}

#order-cards .price {
    font-size:20px;
    margin-bottom:10px;
    color:#133CAC;
}

#arrowCanvas {
    z-index:0;
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    opacity:0.7;
}

.note {
    font-size:14px;
    margin:20px;
}

.note.starred:before {
    content:'*';
    position:absolute;
    margin-left:-18px;
    margin-top:-5px;
    font-size:26px;
    font-family:'Cabin';
}

.note.starred {
    margin-left:40px;
}

.youtube-player {
    margin:20px auto;
    display:block;
}

.no-transitions {
    -webkit-transition: 0;
    -moz-transition: 0
    -o-transition: 0;
    transition: 0;
}

#site-login {
    background-color:#fff;
    position:absolute;
    width:390px;
    top:-380px;
    z-index:20;
    height:375px;

    margin:auto 280px;
    padding:0px 20px;
    
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    
    text-align:center;
}

    #site-login ul { list-style:none; }
    
        #site-login ul li { padding:0; }

    #site-login.display { top:0px; }
    
    #site-login ul label { 
        width:120px; 
        display:inline-block; 
        text-align:right;
    }
    
    #site-login ul input[type="text"], #site-login ul input[type="password"] { 
        text-align:left;
    }
    
    #site-login ul input {
        width:160px;
        display:inline-block; 
    }

#tip {
    margin:20px;
    text-align:center;
    text-shadow: 0 1px 0 #e5e5e5;
    font-size:14px;
    font-family:'Droid Serif';
}

.steps {
    margin:50px 60px;
}

.steps li {
    margin:30px;
}

.steps .hint {
    font-size:14px;
    display:block;
}

.seg:before {
    content:'';
    border-top:1px dashed #888;
    border-bottom:1px dashed #fff;
    width:100%;
    display:block;
}

    .seg h2 {
        text-align:left;
        font-size:18px;
    }

    .seg p {
        font-size:14px;
        margin:20px;
        font-family:'Droid Serif';
    }

.card-list li {
    margin:20px;
    font-size:18px;
}

.card-list .excerpt {
    font-family:'Droid Serif';
}

#limited-time-offer p {
    font-size:16px;
    text-align:center;
    margin:20px;
    font-family:'Droid Serif';
}

#actions {
    margin:40px auto;
    text-align:center;
}

#actions .alt {
    font-size:16px;
    display:inline-block;
    padding-top:14px;
    vertical-align:top;
    margin-left:-20px;
}

#actions form {
    display:inline-block;
}

#social-integration {
    width:220px;
    height:16px;
    margin:0 auto;
    position:relative;
}

#fb-like, #twitter {
    position:absolute;
    top:0;
}

#fb-like {
    left:0;
    top:-6px;
}

#twitter {
    right:0;
}

.details {
    margin:50px;
    border:1px solid #4271FF;
}

.details label, .details span {
    margin:10px 10px;
    display:inline-block;
    cursor:default;
    vertical-align:top;
}

.details label {
    font-weight:bold;
    width:200px;
}

.details label:after {
    content: ':';
}

.details .color_sample {
    height:15px;
    width:15px;
    display:inline-block;
    margin:4px;
}

.details p:nth-child(odd),
.list ul li:nth-child(odd) {
    background-color:#ddeeff;
}

.details p:nth-child(even),
.list ul li:nth-child(even) {
    background-color:#eff2ff;
}

.lists {
    overflow:hidden;
}

.lists .list {
    margin:30px 50px 50px 50px;
    float:left;
    width:250px;
}

.list ul {
    margin:0;
    border:1px solid #4271FF;
}


/*  Buttons / CTA */
/**********************************************************/

#cta {
    margin:40px;
    text-align:center;
}

#cta .alt {
    font-size:18px;
}

#cta .button {
    font-size:28px !important;
    margin: 10px 20px;
}

#cta h1 {
    text-align:center;
}

.button, input[type=submit] {
    font-size:22px;
    margin:30px;
    padding:7px 15px !important;
    background:#ededed; /* old browsers */
    background: -moz-linear-gradient(top, #EDEDED 0%, #C9C9C9 100%); /* firefox */
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#EDEDED), color-stop(100%,#C9C9C9)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EDEDED', endColorstr='#C9C9C9',GradientType=0 ); /* ie */
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    border:1px solid #666;
    color:#222;
    text-shadow:0 1px 0 white;
    text-decoration:none;
    position:relative;
    
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.button:focus:before, input[type=submit]:focus:before, .button:hover:after, input[type=submit]:hover:after {
    color:#fff;
}

.button:focus:before, input[type=submit]:focus:before, .button:hover:before, input[type=submit]:hover:before {
    content: " ";
    position: absolute;
    top:1px;
    left:1px;
    right:1px;
    bottom:1px;
    border:1px solid #4271FF;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}

.button:focus, input[type=submit]:focus, .button:hover, input[type=submit]:hover {
    color:#fff;
    border:1px solid #333;
    background: #4271FF; /* old browsers */
    background: -moz-linear-gradient(top, #4271FF 0%, #023AE2 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4271FF), color-stop(100%,#023AE2)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4271FF', endColorstr='#023AE2',GradientType=0 ); /* ie */
    text-shadow:0 -1px 0 #444;
    outline:0;
}

.button:active, input[type=submit]:active {
    -webkit-box-shadow:inset 0 0 10px #000;
    -moz-box-shadow:inset 0 0 10px #000;
    box-shadow:inset 0 0 10px #000;
    
    background: #3860D8; /* old browsers */
    background: -moz-linear-gradient(top, #3860D8 0%, #023AE2 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3860D8), color-stop(100%,#023AE2)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3860D8', endColorstr='#023AE2',GradientType=0 ); /* ie */
}

#preview {
    display:none;
    margin:20px auto;
    text-align:center;
}

#preview img {
    width:504px;
    height:288px;
    display:block;
    margin:10px auto;
    border:1px solid black;
    background-color:white;
    box-shadow: 0 0 4px #888;
    -webkit-box-shadow: 0 0 4px #888;
    -moz-box-shadow: 0 0 4px #888;
}

#preview input {
}
