/* Wyatt, this sucks, I'm sorry, I fail at css, fix this plz. */

footer {
    color: #eee;
    background-color:#333;
    border-top:1px solid #888;
    background-image:url("/images/footer.gradient.png");
    background-repeat:repeat-x;
}

footer #links a, footer #links a:visited {
    color:#eee;
    text-decoration:none;
}

footer #links a:hover {
    border-bottom:1px solid;
    color:#eee;
}

#social-icons {
    margin:20px 6px 6px 6px;
}

#links, #copyright {
    margin:6px;
}

#links {
    font-size:17px;
}

#social-icons a {
    margin:4px;
}


#links li, #copyright li {
    display:inline;
}

#links li:after {
    content:'|';
    margin:10px;
}

#links li:last-child:after {
    content:'';
}


#copyright {
    text-align:center;
}

/* Sticky footer stuff */
html, body {
    height:100%;
}

#container {
    min-height:100%;
}

#main {
    padding-bottom: 240px;
}

footer {
    position:relative;
    margin-top:-130px;
    height:129px;
    clear:both;
}
