/* -------------------------------------------------------------------------------------------------

Load this stylesheet after formtastic.css in your layouts to override the CSS to suit your needs.
This will allow you to update formtastic.css with new releases without clobbering your own changes.

For example, to make the inline hint paragraphs a little darker in color than the standard #666:

form.formtastic fieldset > ol > li p.inline-hints { color:#333; }

HINT:
The following style may be *conditionally* included for improved support on older versions of IE(<8)
form.formtastic fieldset ol li fieldset legend { margin-left: -6px;}

--------------------------------------------------------------------------------------------------*/

form.formtastic fieldset > ol > li label {
    font-size:18px;
    text-shadow:0 1px 0 #e5e5e5;
    text-align:left;
    font-weight:bold;
    width:150px;
    padding-top:7px;
    margin-left:25px;
}

form.formtastic input[type=submit] {
    font-size:22px;
    padding:7px 15px;
    margin:5px;
}

form.formtastic input[type="text"], form.formtastic input[type="email"], form.formtastic input[type="password"] {
    -webkit-box-shadow: inset 0px 2px 2px #888;
    -moz-box-shadow: inset 0px 2px 2px #888;
    box-shadow: inset 0px 2px 2px #888;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding:6px;
    border:1px solid #666;
    font-weight:bold;
    font-size:16px;
    width:200px !important;
}

form.formtastic fieldset > ol > li.boolean label input {
    margin-bottom:5px;
}

/*for FireFox*/
input[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner
{
    border : 0px;
}
/*for IE8 */
input[type="submit"]:focus, input[type="button"]:focus
{
    outline : none; 
}

form.formtastic fieldset.buttons {
    margin-left:170px;
    padding:0;
}

form.formtastic .alt {
    font-size:16px;
    display:inline-block;
    padding-top:25px;
}

form.formtastic .error input {
    -webkit-box-shadow: inset 0px 2px 2px #f75d59;
    -moz-box-shadow: inset 0px 2px 2px #f75d59;
    box-shadow: inset 0px 2px 2px #f75d59;
}
