/* -------------------------------------------------------------------------------------------------

Load this stylesheet after formtastic.css in your layouts to override the CSS to suit your needs.
This will allow you to update formtastic.css with new releases without clobbering your own changes.

For example, to make the inline hint paragraphs a little darker in color than the standard #666:

form.formtastic fieldset > ol > li p.inline-hints { color:#333; }

HINT:
The following style may be *conditionally* included for improved support on older versions of IE(<8)
form.formtastic fieldset ol li fieldset legend { margin-left: -6px;}

--------------------------------------------------------------------------------------------------*/

.formtastic label {
    font-size:16px;
    text-shadow:0 1px 0 #e5e5e5;
    text-align:right;
    font-weight:bold;
    margin:6px;
    margin-right:5%;
    width:15%!important;
}

form.formtastic input[type=submit] {
    font-size:22px;
    padding:7px 15px;
    margin:5px;
}

input[type="text"], input[type="email"], input[type="password"] {
    -webkit-box-shadow: inset 0px 2px 2px #888;
    -moz-box-shadow: inset 0px 2px 2px #888;
    box-shadow: inset 0px 2px 2px #888;
    -moz-border-radius: 6px;
    border-radius: 6px;
    
    padding:6px!important;
    border:1px solid #666;
    
    /*color:#888;*/
    font-weight:bold!important;
    font-size:16px!important;
}

/*for FireFox*/
input[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner
{   
    border : 0px;
} 
/*for IE8 */
input[type="submit"]:focus, input[type="button"]:focus
{     
    outline : none; 
}

form.formtastic fieldset.buttons {
    padding-left:20%;
}

form.formtastic .alt {
    font-size:16px;
    display:inline-block;
    padding-top:25px;
}
