#message h1 {
    margin: 40px;
}

#message label {
    float:none;
    width:500px;
    margin:20px;
}

#message .inputs input {
    margin-left:20px;
    width:400px !important;
}

#message .inline-errors {
    margin:0;
    text-align:center;
}

#message #actions {
    text-align:center;
    margin:20px;
}

#message .explanation {
    margin: 40px 40px 10px 40px;
    text-align:center;
    font-size:18px;
}

