body
{
  background-color: #E6E7E8;
}
#card-container
{
  margin-left:auto;
  margin-right:auto;
  margin-top:200px;
  width:550px;
  height:150px;
}
#bottom-card
{
  width:550px;
  height:150px;
  border:1px solid black;
  z-index:1;
  -webkit-transform:rotate(1deg);
  -webkit-box-shadow: 5px 5px 5px #ccc;
  position:absolute;
}
#top-card
{
  width:550px;
  height:150px;
  border:1px solid black;
  z-index:50;
  background-color:white;
  position:absolute;
  font-family:"Molengo";
  font-size:24px;
  cursor:default;
}
#top-card h2
{
  margin:40px;
}
#top-card .arrow
{
  font-weight:bold;
  font-size:170px;
  right:15px;
  top:0px;
  position:absolute;
  font-family:Arial;
  color:#B2B2FF
}
