=link_to "Admin", admin_path
=">"
=link_to "Orders", admin_orders_path
=">"
=link_to @order, admin_order_path(@order)
%p
  %label Billing address
  %span #{ @order.buyer_billing_address }
%p
  %label Shipping address
  %span #{ @order.buyer_shipping_address }
-if @order.authorization_amount
  %td= "$" + sprintf("%.2f", @order.authorization_amount) 
-else
  %td
= link_to "View cards", cards_admin_order_path
