-content_for :title do
  =@order
#breadcrumb
  =link_to "Dashboard", admin_path
  =">"
  =link_to "Orders", admin_orders_path
  =">"
  =link_to @order, admin_order_path(@order)
%h1= @order
=render "show", :order => @order
%hr
#actions
  -if @order.state == 'awaiting-shipment'
    =button_to "Ship order", ship_admin_order_path
  -unless @order.state == 'shipped' or @order.state == 'canceled'
    =button_to "Cancel order", cancel_admin_order_path(@order), :method => :get
