%h2 Change your password
=semantic_form_for resource, :url => account_password_change_path, :html => { :method => :put } do |f|
  =f.inputs do
    =f.input :password
  =f.buttons do
    =f.commit_button "Change password"
