.seg
  %h2 Who is connecc?
  .member
    %h3 Jeff
    %p.role Developer
    %p Jeff is developer for conne.cc, and also manages the business side of the product.
    %p Here's conne.cc in his own words:
    %blockquote I came up with the idea at a conference when someone approached me, handed me a business card and told me to get in touch with him. I went home that night, tried to write an email but didn't know how to word it. I looked at the business card, saw the phone number and realized there was a better way to do this.<br />I mentioned my idea to a few people, but Wyatt really bit on the idea. We started passing around ideas. It sat around in the back of our minds for a few months until we realized we had to do something about it.<br />I want this to really work for people. I think what we have is special, the challenge now is to make it work.
  .member
    %h3 Wyatt
    %p.role Designer
    %p Wyatt is the designer for conne.cc, he also does some of our development.
    %p Here's conne.cc in his own words:
    %blockquote.red Wyatt needs to fill this out
.seg
  %h2 Why are we doing this?
  %p.desc
    We want to change the way people meet each other. Business cards are over 100 years old and haven't changed while communication has improved immensely. <b>We can do better.</b>
