-content_for :title do
  About us
#about_us
  %h1 About us
  %h3.intro conne.cc is a moonlit, bootstrapped startup put together by a couple of industrious <abbr title="Oregon State University!">Beavers</abbr>!
  %hr
  %h2 Who is conne.cc?
  .member
    .box
      %img{ :id => "menuLogo", :src => "/images/jeff.jpg" }
      %h3 Jeff
      %p.role Developer
    %p Jeff is the developer for conne.cc.<br />He also manages the business side of the product.
    %blockquote
      %p I came up with the idea for conne.cc at a conference. I spoke with a guy for a few minutes, then he handed me a business card and told me to get in touch with him. That night, I went home and tried to write an email but didn&rsquo;t know how to word it. I looked at the business card, and I thought, &ldquo;Why can&rsquo;t I know what he wants <i>before</i> I try to draft an email? That would make this so much easier.&rdquo;
      %p I mentioned my idea to a few people, most people liked it, but Wyatt really bit on the idea. We started passing around ideas. It sat around in the back of our minds for a few months until we realized we had to do something about it. We had a great time building the prototype and are really excited for what is to come.
      %p I want this to really work for people. I think what we have is special, the challenge now is to make it work.
  %hr
  .member
    .box
      %img{ :src => "/images/wyatt.png" }
      %h3 Wyatt
      %p.role Designer
    %p Wyatt is the designer for conne.cc.<br />He also does some of our development.
    %blockquote
      %p Hi, I&rsquo;m Wyatt Allen; I do the design and some development for conne.cc. When Jeff came to me with this idea, I instantly loved it. It&rsquo;s such a great way to speed up the process of getting into contact with people, having conversations and getting stuff done.
      %p There&rsquo;s a lot of really great people out there and we feel that the hassle of <b>trading contact information shouldn&rsquo;t get in the way of your conversation</b>.
      %p I think technology is most exciting when it brings people together, and we&rsquo;re really excited about conne.cc.
  %hr
  %h2 Why are we doing this?
  %p.desc
    We want to change the way people meet each other. Business cards are over 100 years old and haven&rsquo;t changed while communication has improved immensely. <b>We can do better.</b>
