-content_for :title do
  About us
#about_us
  %h1 About us
  %hr
  %h2 Who is connecc?
  .member
    .box
      %img{ :src => "/images/jeff.jpg" }
      %h3 Jeff
      %p.role Developer
    %p Jeff is the developer for conne.cc, and also manages the business side of the product.
    %blockquote
      %p I came up with the idea for conne.cc at a conference. I spoke with a guy for a few minutes, then he handed me a business card and told me to get in touch with him. That night, I went home and tried to write an email but didn't know how to word it. I looked at the business card, and I thought, "why can't I know what he wants BEFORE I try to draft an email? That would make this so much easier."
      %p I mentioned my idea to a few people, most people liked it, but Wyatt really bit on the idea. We started passing around ideas. It sat around in the back of our minds for a few months until we realized we had to do something about it. We had a great time building the prototype and are really excited for what is to come.
      %p I want this to really work for people. I think what we have is special, the challenge now is to make it work.
  %hr
  .member
    .box
      %h3 Wyatt
      %p.role Designer
    %p Wyatt is the designer for conne.cc, he also does some of our development.
    %blockquote.red Wyatt needs to fill this out
  %hr
  %h2 Why are we doing this?
  %p.desc
    We want to change the way people meet each other. Business cards are over 100 years old and haven't changed while communication has improved immensely. <b>We can do better.</b>
