-content_for :title do
  Contact us
#contact_us
  %h1 Contact us
  .note
    First of all, check <a href="http://connecc.uservoice.com/">http://connecc.uservoice.com/</a> If what you need is not listed there, and it doesn't make sense to put it there, contact us via email.
  %hr
  %dl
    %dt Support
    %dd= mail_to "support@conne.cc"
    %dt Sales
    %dd= mail_to "sales@conne.cc"
