%h1 Dashboard
%hr
-if @cards.any?
  %h2 Your Cards
  %ul.card-list
    -@cards.each do |c|
      %li
        =link_to c, card_path(c.code)
        -if c.message
          %span - #{ truncate c.message }
  -if @cards.count >= 10
    =link_to "more...", my_cards_path, :class => 'note'
  %hr
%h2 Order more cards
=render "shared/order_cards"
-if TrialOrder.count < 100 and not current_user.orders.any?
  %hr
  #limited-time-offer
    %h1 Limited time offer!
    %p For our big launch, we're offering a limited supply of 10 free cards!
    #actions
      =link_to "Order 10 free cards!", trial_path, :class => 'button'
%hr
#actions
  =link_to "Your Orders", orders_path, :class => 'button'
  =link_to "Edit Profile", edit_user_registration_path, :class => 'button'
  -if current_user.admin
    =link_to "Admin", admin_path, :class => 'button'
