%h1 To start using conne.cc, order some cards!
#order-cards
  .price 100 cards - $10 - free shipping
  #actions
    =link_to "Order 100 cards!", new_google_order_path, :class => 'button'
-if TrialOrder.count < 100 and not current_user.orders.any?
  %hr
  #limited-time-offer
    %h1 Limited time offer!
    %p For our big launch, we're offering a limited supply of 10 free cards!
    #actions
      =link_to "Order 10 free cards!", new_trial_order_path, :class => 'button'
