#dashboard
  %ul
    -if current_user.visits.any?
      Recently visited cards
      %ul
        -current_user.visits.order("-updated_at").each do |visit|
          %li= link_to visit.card, card_path(visit.card.code)
