#dashboard
  %h1 Dashboard
  %ul
    -if current_user.orders.any?
      %li
        =link_to "Order history", orders_path
    -else
      %li
        =link_to "Order trial pack", new_trial_order_path
