-content_for :title do
  Frequently Asked Questions
%h1 Frequently Asked Questions
.faq
  %h2 What is conne.cc?
  %p conne.cc is a new way to meet people. Right now when people meet, they pass out a business card to exchange contact information, then draft an email later to continue the conversation. With conne.cc, a card is passed with a unique web address 2 people can continue a conversation on.
.faq
  %h2 Why is that better than business cards?
  %p Generally, the person giving the business card is the one that wants to continue the conversation. Maybe they want to make a sales offer, see more about recruiting that person, something along those lines.
  %p If a person receives a business card and doesn't know what the offer is, why would they take the time to write an email?
  %p This gets your message out with the other person just having to check one address easily and without any commitment.
.faq
  %h2 What happens if someone visits one of my cards before I put up a message?
  %p They'll see that you haven't yet posted a message, and have the option to sign up to be notified when you do.
.faq
  %h2 Will you keep my information private?
  %p Registration and ordering information will be kept private and never exposed to a third party. Card messages as well will not be sold or allowed to be accessed by others.
  %p It would be possible for someone to guess a card's URL and read a message you sent to another person. For that reason, we suggest all private communication to be done after the initial introduction.
  %p There is a way that we could have password protected cards, if there is interest in that, please click "Got an idea?" at the bottom and upvote that feature.
