-content_for :title do
  Frequently Asked Questions
%h1 Frequently Asked Questions
.faq
  %h2 What is conne.cc?
  %p conne.cc is a new way to get to know the people you meet. Right now when people meet, they pass out a business card to exchange contact information, then draft an email later to continue the conversation. With conne.cc, a card is passed with a unique web address 2 people can continue a conversation with.
.faq
  %h2 Why is that better than business cards?
  %p Generally, the person giving the business card is the one that wants to continue the conversation. Maybe they want to make a sales offer, see more about recruiting that person, something along those lines.
  %p If a person receives a business card and doesn&rsquo;t know what the offer is, why would they take the time to write an email?
  %p This gets your message out with the other person just having to check one address easily and without any commitment.
.faq
  %h2 Why is this better than email/linkedin/IM/phone or any other way to communicate?
  %p This isn't something you would use if you already know someone. We're targeting that special, difficult time directly after you meet someone and before they're a real contact. Having a number in your phone and being able to get in touch with them are different things entirely. We're focusing on that sticking point.
.faq
  %h2 Does the person I give a conne.cc card to need an account to see the message I post?
  %p Absolutely not, we worked hard to make the site very easy to use and non-intrusive to the visitors. They will be welcomed to a page that will easily and quickly allow them to give you their email address, or see whatever contact information you had made available to them.
.faq
  %h2 What happens if someone visits one of my cards before I put up a message?
  %p They&rsquo;ll see that you haven&rsquo;t yet posted a message, and have the option to sign up to be notified when you do.
.faq
  %h2 Can I customize what my cards look like?
  %p Not yet, we're working on making that a possibility. If you would like this, please <a href="#" onclick="UserVoice.Popin.show(uservoiceOptions); return false;">vote for it</a>.
.faq
  %h2 Is conne.cc secure?
  %p Registration and ordering information will be kept private and never exposed to a third party. Card messages as well will not be sold or allowed to be accessed by anyone. We also have security in place to prevent bots from scraping messages.
  %p However, since we made conne.cc easy enough to use that you just access a URL, it would be possible for someone to guess a card&rsquo;s URL and read a message. For that reason, we suggest not to put any private information on the message. (Inside of contact requests however, is private).
  %p There is a way that we could have password protected cards, but they would be slightly more difficult to use since they would need a code to access, if there is interest in that, please <a href="#" onclick="UserVoice.Popin.show(uservoiceOptions); return false;">vote for it</a>.
