-content_for :title do
  Frequently Asked Questions
%h1 Frequently Asked Questions
.seg
  %h2 What happens if someone visits one of my cards before I put up a message?
  %p.desc They'll see that you haven't yet posted a message, and have the option to sign up to be notified when you do.
