-content_for :title do
  Trial Promotion
#limited-time-offer
  %h1 Limited time offer!
  %p For our big launch, we're offering 10 free cards to new users!
  %p Create an account to get yours!
  #actions
    =link_to "Create account", new_user_registration_path, :class => 'button'
    %span.alt or #{ link_to "learn more", tour_path }
