%h2
  conne.cc is business cards for closers.
.desc
  We&#8217;ve found a way skip that pesky trading of contact information to fast forward connections.
  If you need to build relationships, conne.cc is the bee's knees.
#card-container
  #top-card.card
    .top-half
      %span.name
        Joe Blow
      %span.company
        Stainless World
      %span.connecc
        http://conne.cc/d28cx
      %span.email
        joe@stainlessworld.com
      %span.phone
        415-555-7154
      %span.arrow= ">"
    .bottom-half
      %span.name
        Joe Blow
      %span.company
        Stainless World
      %span.connecc
        http://conne.cc/d28cx
      %span.email
        joe@stainlessworld.com
      %span.phone
        415-555-7154
      %span.arrow= ">"
  #middle-card.card
    %span.arrow= ">"
  #bottom-card.card
    %span.arrow= ">"
%h2
  Take our tour, and <a href="/tour">Meet Joe</a>.
