#card-container
  #top-card.card
    %h2
      conne.cc will get you calls back.
    %span.arrow= ">"
  #middle-card.card
    %h2
      I'm sure of it.
    %span.arrow= ">"
  #bottom-card.card
    %h2
      $10 bucks, 100 connections.
    %span.arrow= ">"
