#pitch
  %p When someone gives you a business card, they want to continue the conversation.
  %br
  %p The problem is drafting that first email is awkward. Especially if you don't know exactly why they gave you the card.
  %br
  %p We fix this with cards that let you seamlessly move your conversation online.
#cta
  #{ link_to "Sign Up", new_user_registration_path, :class => 'button', :id => 'tour-start' }
  %span.alt or #{ link_to "learn more", tour_path }
%hr
#preview
  %img{ :src => "/images/sample_card.png" }
