#pitch
  %p When people exchange business cards, they&rsquo;re doing it to continue a conversation.
  %br
  %p The problem is drafting emails takes effort and phone calls are intrusive.
  %br
  %p We fix this with cards that let people seamlessly move their conversation online to the tools they know and love.
#cta
  #{ link_to "Sign Up", new_user_registration_path, :class => 'button', :id => 'tour-start' }
  %span.alt or #{ link_to "learn more", tour_path }
%hr
#preview
  %img{ :src => "/images/sample_card.png" }
