<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>conne.cc</title>
  <%= include_stylesheets :mobile, :media => "all" %>
  <%= include_javascripts :mobile %>
</head>
<body></body>
</html>
