#pitch
  %h1
    Business cards are broken.
  %h2
    When people exchange business cards, they&rsquo;re doing it to continue a conversation. However, drafting emails takes effort and phone calls are intrusive. We want to fix this.
