#splash{ :data => { :role => 'page', :theme => 'b' } }
  .header{ :data => { :role => 'header' } }
    %h1 conne.cc
    %a.ui-btn-right{ :href => new_user_session_path, :data => { :icon => 'gear', :rel => 'dialog', :transition => 'pop' } }Login
  .content{ 'data-role' => 'content' }
