#splash{ :data => { :role => 'page', :theme => 'b' } }
  .header{ :data => { :role => 'header' } }
    %h1 conne.cc
    %a.ui-btn-right{ :href => new_user_session_path, :data => { :icon => 'gear', :rel => 'dialog', :transition => 'pop' } }Login
  .content{ :data => { :role => 'content' } }
    %p
      To view a card, type in its 5 letter/number code below.
    .field{ :data => { :role => 'fieldcontain' } }
      %label{ :for => 'find-code-input' } Card's code
      %input{ :name => 'find-code-input', :id => 'find-code-input', :data => { :theme => 'c' } }
      .hint http://conne.cc/[code]
    %a#find-code-button{ :href => "#", :data => { :role => 'button', :theme => 'b' } } View card
