-content_for :title do
  Terms of Use
%h1 Terms of Use
.note By using the conne.cc service (a service of Jeff Dickey), you are agreeing to be bound by the following terms and conditions ("Terms of Use").
.faq
  %h2 Basic Terms
  %p You must be 13 years or older to use this site.
  %p You are responsible for keeping your password secure.
  %p You are responsible for any activity that occurs under your screen name.
  %p You may not use the conne.cc service for any illegal or unauthorized purpose. International users agree to comply with all local laws regarding online conduct and acceptable content.
  %p You are solely responsible for your conduct and any data, text, information, screen names, graphics, and social networking profiles that you display on the conne.cc service.
  %p You must not modify, adapt or hack conne.cc or modify another website so as to falsely imply that it is associated with conne.cc.
  %p You must not create or submit unwanted email to any conne.cc members ("Spam").
  %p You must not transmit any worms or viruses or any code of a destructive nature.
  %p You must not, in the use of conne.cc, violate any laws in your jurisdiction (including but not limited to copyright laws).
  %p Violation of any of these agreements will result in the termination of your conne.cc account. While conne.cc prohibits such conduct and content on its site, you understand and agree that conne.cc cannot be responsible for the Content posted on its web site and you nonetheless may be exposed to such materials and that you use the conne.cc service at your own risk.
.faq
  %h2 General Conditions
  %p We reserve the right to modify or terminate the conne.cc service for any reason, without notice at any time.
  %p We reserve the right to alter these Terms of Use at any time. If the alterations constitute a material change to the Terms of Use, we will notify you via internet mail according to the preference expressed on your account. What constitutes a "material change" will be determined at our sole discretion, in good faith and using a common sense and reasonable judgement.
  %p We reserve the right, in accordance with any applicable laws, to refuse service to anyone for any reason at any time.
  %p We may, but have no obligation to, remove Content and accounts containing Content that we determine in our sole discretion are unlawful, offensive, threatening, libelious, defamatory, obscene or otherwise objectionable or violates and party's intellectual property or these Terms of Use.
.faq
  %h2 Copyright (What's yours is yours)
  %p We claim not intellectual property rights over the material you provide to the conne.cc service. Your profile and materials uploaded remain yours. You can remove your profile at any time by deleting your account. This will also remove any text and images you have stored in the system under your account. You understand this will forfeit any existing conne.cc cards as well and they will be rendered unusable.
  %p We encourage users to contribute their creations to the public domain or consider progressive licensing terms.
  %p Conne.cc undertakes all relevant copyright laws. We will review all claims of copyright infringement received and remove content deemed to have been posted or distributed in violation of any such laws. To make a claim, please provide us with the following: A physical or electronic signature of the copyright owner, or the person authorized to act on its behalf; a description of the copyrighted work claimed to have been infringed; a description of the infringing material and information reasonably sufficient to permit conne.cc to locate the material; your contact information, including your address, telephone number, and email; a statement by you that you have a good faith belief that the use of the material in the manner complained of is not authorized by the copyright owner, its agent or the law; and a statement that information in the notification is accurate, and under the pains and penalties of perjury, that you are authorized to act on behalf of the copyright owner. Claims can be sent to support@conne.cc or Jeff Dickey, 211 112th Ave NE APT 312 Bellevue WA 98004.
