-content_for :title do
  conne.cc tour
%h1 conne.cc tour
.seg
  %h2 What's wrong with business cards?
  %p Business cards exist to help people continue a conversation.
  %p The problem is that writing emails is time consuming, and phone calls are very intrusive, especially with people that have only just met.
.seg
  %h2 What exactly are conne.cc cards?
  %p conne.cc cards come in pairs. Each pair has a unique web address people can use to continue their conversation on.
.seg
  %h2 Why is that better than just having the email address on the card?
  %p The receiver pulls the card out of their pocket when they get home, type in the short address and can read a message personalized to them. They can then easily get back to the giver. No awkward email has to be made trying to remember the conversation.
.seg
  %h2 What's on the web page on the card?
  %p Check out <a href="http://conne.cc/d28cx">http://conne.cc/d28cx</a> and find out!
  %p It lets the giver post a message for the receiver to see, then they have the choice whether or not to get back in touch.
  %p The receiver risks nothing by reading this message. No email, no phone call, just typing in a short address.
.seg
  %h2 How much do the cards cost?
  %p We have <a href="/free_trial" />free sample packs right now!</a> After that they will be $10 for 100 cards, free shipping.
%hr
#cta
  #{ link_to "Sign up!", new_user_registration_path,  :class => 'button', :id => 'tour-start' }
  %span.alt or read the #{ link_to "FAQs", faq_path }
%hr
#preview
  %img{ :src => "/images/sample_card.png" }
