-content_for :title do
  conne.cc tour
%h1 conne.cc tour
.seg
  %h2 What's wrong with business cards?
  %p Business cards exist to help people continue a conversation they're having.
  %p The problem is that writing emails is time consuming, and phone calls are very intrusive. Especially with people that have only met briefly.
.seg
  %h2 How does conne.cc fix this?
  %p We let people pass out physical cards, but continue the conversation like it never ended.
.seg
  %h2 How do the cards let people get back in touch?
  %p
    Each pair of conne.cc cards have a unique web address on them to let people get back in touch.
    This lets the card giver leave a personalized message to the person they give it to.
#preview
  %img{ :src => "/images/sample_card.png" }
.seg
  %h2 What's on the web page on the card?
  %p Check out <a href="http://conne.cc/d28cx">http://conne.cc/d28cx</a> and find out!
  %p It lets the giver post a message for the receiver to see, then they have the choice whether or not to get back in touch.
  %p The receiver risks nothing by reading this message. No email, no phone call, just typing in a short address.
.seg
  %h2 How much do the cards cost?
  %p $10 for 100 cards, free shipping
%hr
#cta
  #{ link_to "Sign up!", tour_path, :class => 'button', :id => 'tour-start' }
  %span.alt or read the #{ link_to "FAQs", faq_path }
