-content_for :title do
  Create your account
%h1 Create your account
=semantic_form_for @user, :url => order_activate_path(@order.activation_string) do |f|
  =f.inputs do
    =f.input :first_name
    =f.input :last_name
    =f.input :email
    =f.input :password
    =f.input :time_zone
    =f.input :gender, :as => :radio, :collection => { "Male" => 'm', "Female" => 'f' }
  =f.buttons do
    =f.commit_button "Create Account"
