-content_for :title do
  Order cards
%h1 How to get your conne.cc cards
%ol.steps
  %li Order cards from Google Checkout
  %li Create conne.cc account<span class="hint">(We'll send you an email to do this)</span>
  %li Cards will arrive postage free!
%hr
%h2 To get started, click the Google Checkout button below!
=render "shared/order_cards"
