-content_for :title do
  Order cards
%h1 To start using conne.cc, order some cards!
=render "shared/order_cards"
-if TrialOrder.count < 100 and request.remote_ip.to_i % 2
  %hr
  #limited-time-offer
    %h1 Limited time offer!
    %p For our big launch, we're offering a limited supply of 10 free cards!
    #actions
      =link_to "Order 10 free cards!", trial_path, :class => 'button'
