-content_for :title do
  Place Trial Order
#limited-time-offer
  %h1 Limited time offer!
  %p For our big launch, we're offering a limited supply of 10 free cards! Fill out the form below to get yours!
%hr
=semantic_form_for @trial_order, :url => trial_path do |f|
  %h2 Shipping info
  =f.inputs do
    =f.input :address1, :label => "Address 1"
    =f.input :address2, :label => "Address 2"
    =f.input :city
    =f.input :region, :label => "State"
    =f.input :postal_code
  =f.buttons do
    =f.commit_button "Place trial order"

