-content_for :title do
  Place Trial Order
#limited-time-offer
  %h1 Limited time offer!
  %p For our big launch, we're offering a limited number of 10 free cards! Fill out the form below to get yours!
%hr
=semantic_form_for @trial_order, :url => trial_order_path do |f|
  =f.inputs do
    %h2 Shipping info
    =f.input :address1, :label => "Address 1"
    =f.input :address2, :label => "Address 2"
    =f.input :city
    =f.input :region, :label => "State"
    =f.input :postal_code
    %h2 Card info
    =f.input :first_name, :input_html => { :class => 'first_name' }
    =f.input :last_name, :input_html => { :class => 'last_name' }
    =f.input :company_name, :input_html => { :class => 'company_name' }
  %hr
  #preview
    %input{ :type => 'button', :value => "Preview" }
    %img
  %hr
  #actions
    =f.submit "Place trial order"

