-content_for :title do
  Users
#breadcrumb
  =link_to "Dashboard", admin_path
  =">"
  =link_to "Users", admin_users_path
%h1 Users
%hr
%table
  %tr
    %th User
    %th Email
  -for user in @users
    %tr
      %td= link_to user, admin_user_path(user)
      %td= user.email
%hr
%p#summary
  Total users: #{ @total_users }
