#dashboard
  %h1 Admin dashboard
  %ul
    %li= link_to "Orders", admin_orders_path
    %li= link_to "Users", admin_users_path
    %li= link_to "Private beta signups", admin_private_beta_signups_path
