-content_for :title do
  Admin Dashboard
#breadcrumb
  =link_to "Dashboard", admin_path
#dashboard
  %h1 Admin dashboard
  %hr
  %ul#admin-menu
    %li= link_to "Orders", admin_orders_path, :class => "button"
    %li= link_to "Users", admin_users_path, :class => "button"
    %li= link_to "Delayed Jobs", admin_delayed_jobs_path, :class => "button"
