=link_to_unless_current "Admin", admin_path
#dashboard
  %h1 Admin dashboard
  %ul
    %li= link_to "Orders", admin_orders_path
    %li= link_to "Users", admin_users_path
    %li= link_to "Cutting sheet", admin_cards_cutting_sheet_path
    %li= link_to "Perforating sheet", admin_cards_perforating_sheet_path
