#breadcrumb
  =link_to_unless_current "Admin", admin_path
#dashboard
  %h1 Admin dashboard
  %hr
  %ul#admin-menu
    %li= link_to "Orders", admin_orders_path, :class => "button"
    %li= link_to "Users", admin_users_path, :class => "button"
    %li= link_to "Cutting sheet", admin_cards_cutting_sheet_path, :class => "button"
    %li= link_to "Perforating sheet", admin_cards_perforating_sheet_path, :class => "button"
