-content_for :content do
  #main.wide
    #banner.wide
      #name
        =link_to "conne.cc", root_path
        %span#arrow= h(">")
    #strip.wide
      -if flash[:notice]
        #notice
          =flash[:notice]
      -if flash[:alert]
        #alert
          =flash[:alert]
      #admin
        =yield
    .stripCurl
      .leftCurl
      .rightCurl
    .clearfix
=render :file => 'layouts/application'

