-content_for :content do
  #main.wide
    #banner.wide
      #name
        #title Business cards are broken.
    .bannerCurl
      .leftCurl
      .rightCurl
    #strip.wide
      -if flash[:notice]
        #notice
          =flash[:notice]
      -if flash[:alert]
        #alert
          =flash[:alert]
      #admin
        =yield
    .stripCurl
      .leftCurl
      .rightCurl
    .clearfix
=render :file => 'layouts/application'

