-content_for :content do
  #main
    -if @title
      #banner
        #title= @title
      .bannerCurl
        .leftCurl
        .rightCurl
    #strip
      %a.wrap-tab.right{ :href => user_signed_in? ? destroy_user_session_path : user_session_path,
                        :id => user_signed_in? ? "logout" : "login" }
        .wrap-tab-body= user_signed_in? ? "Logout" : "Login"
        .wrap-tab-left-poly
        .wrap-tab-right-poly
      -if flash[:notice]
        #notice
          =flash[:notice]
      -if flash[:alert]
        #alert
          =flash[:alert]
      =yield
      -unless @hide_tip
        %hr
        #social-integration
          #fb-like
            <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like href="http://www.facebook.com/pages/connecc/172680719441624" layout="button_count" show_faces="true" width="450"></fb:like>
          #twitter
            <a href="http://twitter.com/share" class="twitter-share-button" data-url="http://conne.cc/" data-text="Replace your business cards with" data-count="horizontal" data-via="connecc_cards">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
        %hr
        %p#tip Connections are fragile in their early stages, let&rsquo;s make them flow.
    .stripCurl
      .leftCurl
      .rightCurl
    .clearfix
=render :file => 'layouts/application'

