!!!
%html
  %head
    %title conne.cc
    =stylesheet_link_tag "http://code.jquery.com/mobile/1.0a3/jquery.mobile-1.0a3.min.css"
    =javascript_include_tag "http://code.jquery.com/jquery-1.5.min.js"
    =javascript_include_tag "http://code.jquery.com/mobile/1.0a3/jquery.mobile-1.0a3.min.js"
    =include_javascripts :mobile
  %body
    =yield
