!!!
%html
  %head
    %title conne.cc
    =stylesheet_link_tag "http://code.jquery.com/mobile/1.0a2/jquery.mobile-1.0a2.min.css"
    =javascript_include_tag "http://code.jquery.com/jquery-1.4.3.min.js"
    =javascript_include_tag "http://code.jquery.com/mobile/1.0a2/jquery.mobile-1.0a2.min.js"
  %body
    #page{ 'data-role' => 'page' }
      %header{ 'data-role' => 'header' }
        %h1 conne.cc
      %content{ 'data-role' => 'content' }
        =yield
      %footer{ 'data-role' => 'footer' }
        footer
