-content_for :content do
  #main
    #banner
      #name
        =link_to "conne.cc", root_path
        %span#arrow= h(">")
    .bannerCurl
      .leftCurl
      .rightCurl
    #strip
      -if flash[:notice]
        #notice
          =flash[:notice]
      -if flash[:alert]
        #notice
          =flash[:alert]
      =yield
      -unless @hide_tip
        %hr
        #fb-like
          <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like href="http://facebook.com/pages/connecc/172680719441624" show_faces="true" width="400"></fb:like>
        #twitter
          <a href="http://twitter.com/share" class="twitter-share-button" data-url="http://conne.cc/" data-text="Replace your business cards with @connecc_cards" data-count="vertical" data-related="connecc_cards:dsfasdfasdf">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
        %hr
        %p#tip Connections are fragile in their early stages, let&rsquo;s make them flow.
    .stripCurl
      .leftCurl
      .rightCurl
    .clearfix
=render :file => 'layouts/application'

