-content_for :content do
  #main
    #banner
      #name
        =link_to "conne.cc", root_path
        %span#arrow= h(">")
    #strip
      -if flash[:notice]
        #notice
          =flash[:notice]
      -if flash[:alert]
        #notice
          =flash[:alert]
      =yield
    .stripCurl
      .leftCurl
      .rightCurl
    .clearfix
=render :file => 'layouts/application'

